<!DOCTYPE html>
<html>
<head>
  <title>Relational Tones</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <style type="text/css">
    #login, #loggedin {
      display: none;
    }
    .text-overflow {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 500px;
    }
  </style>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body class = "grad">
  <nav class= "navBar">
    <%= link_to 'Relative Tones', '/', class: 'home' %>
    <% if current_user %>
      <%= link_to 'logout', '/logout', class: 'logout' %>
    <% end %>
  </nav>
<%= yield %>
</body>
</html>
